{% extends 'base.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Lista de usuarios</div>
                <div class="panel-body">
                    <div id="alert"></div>
                    <table class="table table-striped table-bordered table-condensed"
                           data-toggle="table" data-url="" data-cache="false">
                        <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in datos %}
                            <tr>
                                <td class="descripcion">{{ dato.descripcion }}</td>
                                <td class="precio">{{ dato.precio }}</td>
                                <td>{{ dato.reg_date }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{{ app.url_generator.generate('editar', {'id': dato.id}) }}">Editar</a>
                                    <a id="{{ dato.id }}" href="#" class="elimiar btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="highlight">
                        <button type="button" class="btn btn-primary btn-sm"
                                data-toggle="modal" data-target="#myModal">
                            Agregar datos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="container-fluid">
                    <form action="#" method="post" role="form" id="ajaxForm">
                        <div class="input-group">
                            {{ form_widget(form._token) }}
                            {{ form_row(form.descripcion, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="input-group">
                            {{ form_row(form.precio, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <br/>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                Close
                            </button>
                            <button id="buttonGuardar" type="submit"
                                    name="submit" class="btn btn-primary">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsExtra %}
    <script type="text/javascript">
        $("div  .elimiar").click(function () {
            var id = this.id;
            var url = "{{ app.url_generator.generate('elimiar', {'id':"ID"}) }}";
            var urlMod = url.replace(/ID/, id);

            $.ajax({
                type: "DELETE",
                url: urlMod,
                success: function (data) {
                    $('#alert').html('<div class="alert alert-info alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Info!</strong> ' + data + '</div>');
                }
            });
        });

        $("#ajaxForm").submit(function () {
            var url = "{{ app.url_generator.generate('nuevo') }}";
            $.ajax({
                type: "POST",
                url: url,
                data: $("#ajaxForm").serialize(),
                success: function (data) {
                    $('#myModal').modal('hide');
                    $('#alert').html('<div class="alert alert-info alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Info!</strong> ' + data + '</div>');
                }
            });

            return false;
        });
    </script>
{% endblock jsExtra %}